<div class="create-recipe">
  <span class="title">Create new recipe</span>
  <form [formGroup]="receiptForm" (ngSubmit)="onSubmit()">

    <div class="title form-field">
      <span>Title</span>
      <input type="text" formControlName="title">
    </div>

    <div class="form-field">
      <span>Description</span>
      <textarea formControlName="description"></textarea>
    </div>

    <div class="ingredients" formArrayName="ingredients">
      <div class="header">
        <span>Ingredients</span>
        <div class="button" (click)="addIngredient()">+</div>
      </div>
      <div *ngFor="let ingredient of ingredientsForm.controls; let i = index">
        <div [formGroupName]="i" class="ingredient-row">
          <!--span>{{i}}</span-->
          <div class="button remove" (click)="removeIngredient(i)">-</div>
          <select formControlName="ingredient">
            <option *ngFor="let ing of (availableIngredients$ | async)"
                    [ngValue]="ing">
              {{ ing.name }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="steps" formArrayName="steps">
      <div class="header">
        <span>Steps</span>
        <div class="button" (click)="addStep()">+</div>
      </div>
      <div *ngFor="let step of stepsForm.controls; let i = index">
        <div [formGroupName]="i" class="step-row">
          <div class="step-header">
            <span>{{i}}</span>
            <input type="text" formControlName="title">
            <button class="button remove" (click)="removeStep(i)">-</button>
          </div>
          <textarea formControlName="description"></textarea>
        </div>
      </div>
    </div>

    <div class="submit">
      <button type="submit">Submit</button>
    </div>
  </form>
</div>
