<div class="main-toolbar">
  <div class="left">
    <span class="title" [ngClass]="{'router-link-active': true}" [routerLink]="'/'">300 Recipes
    </span>
    <span>
      <span *ngIf="isUser()" [ngClass]="{'router-link-active': true}" [routerLink]="'/receipts/create'">New</span>
    </span>

    <span>
      <span *ngIf="isAdmin()" [ngClass]="{'router-link-active': true}" [routerLink]="'/approve'">Approve</span>
    </span>
  </div>

  <span *ngIf="!show()" (click)="openSignIn()">Sign in</span>
  <span *ngIf="!show()" (click)="openSignUp()">Sign up</span>
  <span *ngIf="show()" (click)="signOut()">Sign out</span>
</div>