<div class="receipt">
  <div class="thumb">
    <img src="{{receipt.imageUrl || 'assets/img/dish_thumb.png'}}" [ngClass]="{'router-link-active': true}" [routerLink]="receipt.id">
  </div>

  <div class="info">
    <div class="hashes single-line">
      <span *ngFor="let hash of (receipt.hashes || ['#def_hash1', '#def_hash2'])">
        {{hash}}
      </span>
    </div>
    <div class="title single-line" [ngClass]="{'router-link-active': true}" [routerLink]="receipt.id">
      {{receipt.title || 'Default title'}}
    </div>
    <div class="author single-line">{{receipt.author || 'Default author'}}
    </div>
    <div class="description">{{receipt.description || 'Default description'}}
    </div>
  </div>

  <div *ngIf="isUser()" class="actions">

    <div (click)="like()" class="up align-middle">
      <span class="align-middle">👍🏿</span>
    </div>
    <div class="up align-middle">
      <span class="badge bg-warning">{{receipt.rating || '0'}}</span>
    </div>
    <div (click)="dislike()" class="down align-middle">
      <span class="align-middle">👎🏿</span>
    </div>
  </div>
</div>