<div class="modal-header">
    <h4 class="modal-title">Залогуйтеся</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    

    <div class="form-group form-row">
        <input type="text" ngbAutofocus (keydown.enter)="logIn()" 
        class="form-control rounded" placeholder="Ім'я користувача"
          name="username" [(ngModel)]="username">
    </div>

    <div class="form-group form-row">
        <input type="password" ngbAutofocus (keydown.enter)="logIn()" 
        class="form-control rounded" placeholder="Пароль"
          name="password" [(ngModel)]="password">
    </div>



  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="logIn()">Увійти</button>
  </div>